<nav
    class='navbar navbar-expand-lg bg-dark bg-body-tertiary'
    data-bs-theme='dark'
>
    <div class='container-fluid mx-5'>
        <a class='navbar-brand text-light' href='#'>Admin Layout</a>
        <button
            class='navbar-toggler text-light'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
                <li class='nav-item'>
                    <a
                        class='nav-link active text-light'
                        aria-current='page'
                        href='#'
                    >Home</a>
                </li>
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link text-light dropdown-toggle'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >
                        Sản Phẩm
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a class='dropdown-item' href='#'>Điện Thoại</a></li>
                        <li><a class='dropdown-item' href='#'>Laptop</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li>
                            <a class='dropdown-item' href='#'>
                                Something else here
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Move Login and Sign Up to the right -->
            <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
                <li class='nav-item mx-2'>
                    <a class='nav-link text-light' href='#'>Login</a>
                </li>
                <li class='nav-item'>
                    <a class='btn btn-primary' href='#'>Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>